* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  background-color: rgb(13, 13, 141);
  color: white;
  height: 300px;
  margin: 30px 30px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  position: relative;
}
.container p {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Heebo, sans-serif;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin: auto 100px;
  position: absolute;
  top: 20%;
  left: 1%;
  font-family: Heebo, sans-serif;
}
.card-content {
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
  background-color: white;
}
.card-content img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s ease-in-out;
}
.card-content img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card-top-right {
  position: absolute;
  top: 2%;
  left: 75%;
  background-color: darkblue;
  color: white;
  padding: 6px;
  border-radius: 40px;
}
.card-top-right span {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}
.sub-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.sub-content .card-title {
  margin-bottom: 15px;
}
.sub-content .card-title span {
  font-size: 27px;
}
.sub-content .card-title span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.card-sub-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-sub-top .card-left {
  word-spacing: 5px;
}
.card-sub-top .card-left span {
  font-weight: bold;
}
.card-sub-top .card-right {
  border: 1px solid red;
  border-radius: 4px;
  padding: 0 5px;
  background-color: red;
  color: white;
}
/* .card-sub-top .card-right span {
  background-color: white;
  color: black;
  width: 200px;
} */
.sub-content .card-main {
  line-height: 22px;
  color: darkgrey;
  font-weight: 10px;
}
